<!-- <div class="inner-box">
</div>
<mat-card>
<div *ngIf="advice1" align="center">
    <p>{{advice1.slip.id}}</p>
    <p>{{ advice1.slip.advice }}</p>
  </div>
</mat-card>
<router-outlet></router-outlet> -->


<!-- <div class="overlay">
    <div class="content">
        <mat-card>
            <div *ngIf="advice1" align="center">
                <p>{{advice1.slip.id}}</p>
                <p>{{ advice1.slip.advice }}</p>
              </div>
            </mat-card>
    </div>
  </div>
   -->
   <div class="overlay">
    <div class="content">
      <mat-card>
        <div *ngIf="advice1" align="center">
          <p>{{ advice1.slip.id }}</p>
          <p>{{ advice1.slip.advice }}</p>
        </div>
      </mat-card>
    </div>
  </div>
  